doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    //- UIkit CSS
    link(href='https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css', rel='stylesheet')
    //- UIkit JS
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js')
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.uk-navbar-container(uk-navbar='')
      .uk-navbar-left
        ul.uk-navbar-nav
          .uk-container.uk-container-large
            a(class="uk-navbar-item uk-logo uk-text-bold", href='/') Blog
      .uk-navbar-center
        ul.uk-navbar-nav
          li
            a.nav-btn(href='/posts/add', uk-icon="icon: file-edit") Add Post
          li
            a.nav-btn(href='/topics/add', uk-icon="icon: plus") Add Topic
    != messages()
    script(src='/javascript/main.js')
  block content
     
