doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    link(href='/stylesheet/semantic.min.css', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js', integrity='sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=', crossorigin='anonymous')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    .ui.secondary.menu
    a.active.item
      | Home
    a.item
      | Messages
    a.item
      | Friends
    .right.menu
      .item
        .ui.icon.input
          input(type='text', placeholder='Search...')
          i.search.link.icon
      a.ui.item
        | Logout
  block content

