doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    // UIkit CSS
    link(href='https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css', rel='stylesheet')
    // UIkit JS
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js')
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.uk-navbar-container(uk-navbar='')
      .uk-navbar-left
        ul.uk-navbar-nav
          li.uk-active
            a(href='#') Active
          li
            a(href='#') Parent
            .uk-navbar-dropdown
              ul.uk-nav.uk-navbar-dropdown-nav
                li.uk-active
                  a(href='#') Active
                li
                  a(href='#') Item
                li.uk-nav-header Header
                li
                  a(href='#') Item
                li
                  a(href='#') Item
                li.uk-nav-divider
                li
                  a(href='#') Item
          li
            a(href='#') Item
      .uk-navbar-right
        ul.uk-navbar-nav
          li
            a(href='#') Parent
            .uk-navbar-dropdown
              ul.uk-nav.uk-navbar-dropdown-nav
                li.uk-active
                  a(href='#') Active
                li
                  a(href='#') Item
                li.uk-nav-header Header
                li
                  a(href='#') Item
                li
                  a(href='#') Item
                li.uk-nav-divider
                li
                  a(href='#') Item

    script(src='/javascript/main.js')
     
