extends layout

block content
    .uk-container.uk-margin-top
        h1.uk-padding What's on your mind?
        ul
            if errors 
                each error, i in errors
                    li #{error.msg}
    .uk-container.uk-margin
        form.uk-form-horizontal.uk-margin-large(method='post', action='/posts/add', encrypt='multipart/form-data')
            .uk-margin
                label.uk-form-label(for='form-horizontal-text') Title
                .uk-form-controls
                    input#form-horizontal-text.uk-input(type='text', placeholder="Add an interesting title here.", name="title")
            .uk-margin
                label.uk-form-label(for='form-horizontal-text') Author
                .uk-form-controls
                    input#form-horizontal-text.uk-input(type='text', placeholder="Who's the mastermind behind this post?", name="author")
            .uk-margin
                label.uk-form-label(for='form-horizontal-select') Topic
                .uk-form-controls
                    select#form-horizontal-select.uk-select(name="topic")
            .uk-margin
                textarea.uk-textarea(rows='5', placeholder='The floor is yours', name="body", id="body")
            .uk-margin
                div(uk-form-custom='')
                    input(type='file', name="blogimage")
                    button.uk-button.uk-button-default(type='button', tabindex='-1') Select Image
            .uk-margin
                input(class="uk-button uk-button-default", type="submit", value="Submit Post")