extends layout

block content
    .uk-container.uk-margin-top
        h1.uk-padding.add-heading Add a new topic
        ul
            if errors 
                each error, i in errors
                    li #{error.msg}
        .available-topics
            h3 Available Topics : 
            if topics
                each topic, i in topics
                    span.topic-tag #{topic.name}
        .uk-container.form-margin
            form.uk-form-horizontal.uk-margin-large(method='post', action='/topics/add')
                .uk-margin
                    label.uk-form-label(for='form-horizontal-text') Topic
                    .uk-form-controls
                        input#form-horizontal-text.uk-input(type='text', placeholder="Add topic here.", name="topic")
                .uk-margin
                    input(class="uk-button uk-button-default", type="submit", name="submit", value="Submit Post")
