/* Navbar */
nav {
  background-color: rgb(43, 43, 43) !important;
}
.nav-btn {
  padding: 10px 20px !important;
  margin: 0px 5px;
  min-height: 0 !important;
  border-radius: 5px;
}
.nav-btn svg {
  margin: 0 5px 0 20px;
}
.uk-logo {
  color: rgb(240, 240, 240);
}

/* Form */
.form-margin {
  margin: 0 100px;
}
.add-heading {
  text-align: center;
}

.available-topics {
  text-align: center;
  margin: 0px 100px 50px 100px;
  border-bottom: 1px solid rgb(233, 233, 233);
}
